
  
  
  .titletext{
    size:30px;
    margin-left:10px;
    font-family:Inconsolata;
    font-style: bold; 
    text-align: center;
  }
  
    
  .blogtext{
    width: 1000px;
    font-size:20px;
    margin-top: 20px;
    font-family: Inconsolata;
    margin-left: 200px;
  }
    

   
  
  
  
    